.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #1890ff;
  color: #1890ff;
  width: 112.23px;
  height: 31.1px;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 22px;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #1890ff;
    color: #fff;
  }
}
